body {
    background: #0b1522;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 200vh;
    overflow-y: scroll;
}

.flower-container {
    position: relative;
    text-align: center;
    background: #161f2b;
    line-height: 100vh;
    transform: translateY(0px);
}

.flower-container p {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    color: white;
    line-height: 1.5;
    font-size: 5.5vw;
}

/*Smartphones portrait*/
@media only screen and (orientation: portrait) {
    .flower-container p {
        font-size: 6.5vh;
    }
}
