@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.fireworks-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.countdown {
    color: white;
    font-size: 6.7vh;
    margin-bottom: 20vh;
    font-family: 'Quicksand', sans-serif;
    white-space: nowrap;
}

.monthly-text {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 6.5vh;
    font-family: 'Quicksand', sans-serif;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
}

.monthly-text > div {
    margin-top: 3vh;
    color: #af2f8d;
    font-size: 6vh;
    font-family: "romantic", sans-serif;
}

@keyframes changebg {
    from {background-color: #0b1522;}
    to {background-color: black;}
}

/*Smartphones portrait*/
@media only screen and (max-width: 450px) and (min-height: 500px) {
    .countdown {
        font-size: 5vh;
    }
    .monthly-text {
        font-size: 5vh;
    }
    .monthly-text > div {
        font-size: 4.3vh;
    }
}

/*Smartphones landscape*/
@media only screen and (max-width: 1000px) and (min-width: 451px) and (max-height: 499px) {
    .countdown {
        font-size: 8.4vh;
    }
    .monthly-text {
        font-size: 9vh;
    }
    .monthly-text > div {
        font-size: 8.7vh;
    }
}

